.container {
    display: flex;
  }
  
  .image-container {
    flex: 1;
  }
  
  .text-container {
    flex: 1;
    position: absolute;
    left: 60%;
  }

  .p {
    color: rgba(230, 27, 196, 0.919);
    font-family: calibri;
    font-size: 1.7rem;
  }

  .b {
    color: rgba(0, 0, 0, 0.77);
    font-family: calibri;
    font-size: 2rem;
  }

.g {
    color: rgba(45, 44, 44, 0.77);
    font-family: calibri;
    font-size: 1rem;
}
  